{% extends 'nav.html' %}
{% block css %}

.url-card:hover {
cursor: pointer;
box-shadow: 0 14px 25px -13px rgb(170, 170, 170);
}
{% endblock %}

{% block body %}


<div class="container my-4 url" id="url">
  <div class="row mb-4">
    <div class="col-12 text-center">
      <h3>Your Urls</h3>
    </div>
  </div>
  <div class="row justify-content-between">

    {% for u in urls %}

    <div class="col-md-6 col-lg-4 mx-auto url-card">

      <div style="overflow: hidden;" class="customcontainer p-2">

        <p style="text-overflow: ellipsis;">Original : <a
            href="{{ u.original_url }}" target="_blank"
            class="card-link">{{ u.original_url }}</a>
        </p>

        <p>Shorten : <a href="/{{ u.short_query }}" target="_blank"
            class="card-link">http://short.ly/{{u.short_query}}</a>
        </p>
        <div class="row justify-content-between">
          <div class="col-6 col-sm-6 ">
            <h4>Visits : {{ u.visits }} </h4>
          </div>
          <div class="col-4">
            <form action="{% url 'deleteurl' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="delete" value="{{ u.short_query }}">
              <input type="submit" class="btn btn-danger" value="Delete">
            </form>
          </div>
        </div>

      </div>
    </div>
    {% endfor %}

  </div>
</div>
<br>
{% include 'footer.html' %}

{% endblock %}