{% extends 'base.html' %}
{% load static %}


{% block body %}
<!-- ======= Hero Section ======= -->
<section class="d-flex align-items-center" id="hero">

  <div class="container">
    <div class="row">
      <div
              class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1"
              data-aos="fade-up">
        <div>
          <h1>Do all your works, while having coffee</h1>
          <h2>A service that provides several powerful tools to
            help you grow and become time efficient.
          </h2>
          <a class="download-btn" href="#details" style="padding: 8px 24px;">
            Get Started</a>
          <a class="download-btn" href="#message" style="padding: 8px 24px;">
            Send Message</a>
        </div>
      </div>
      <div
              class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img"
              data-aos="fade-up">
        <img alt="" class="img-fluid"
             src="{% static 'assets/img/hero-img.png' %}">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<main id="main">

  <!-- ======= App Features Section ======= -->
  <section class="features" id="features">
    <div class="container">

      <div class="section-title">
        <h2>App Features</h2>
        <p>This is something that make us stand out from others. Some of the
          features are in development so would may not work as per expectations.
          Some features are ready for your orders, some are in development and
          many more new cool features are on your way.</p>
      </div>

      <div class="row no-gutters">
        <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
          <div class="content d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="bx bx-receipt"></i>
                <h4>URL Shortening</h4>
                <p>Need a professional looking URL for your organization? We got
                  you. Short your lengthy URL and get records of every visits.
                </p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up"
                   data-aos-delay="100">
                <i class="bx bx-cube-alt"></i>
                <h4>Image Compression</h4>
                <p>Filling form is something that need a specific size of photo.
                  Compress your images for all your forms.</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up"
                   data-aos-delay="200">
                <i class="bx bx-images"></i>
                <h4>Video Calling</h4>
                <p>Remembering someone? Video call your loved ones without
                  opening any other corresponding software.</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up"
                   data-aos-delay="300">
                <i class="bx bx-shield"></i>
                <h4>Email Composing</h4>
                <p>Now you need not to open Gmail or Outlook for incomings.
                  Check all your mails form single place from right here.</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up"
                   data-aos-delay="400">
                <i class="bx bx-atom"></i>
                <h4>Messaging</h4>
                <p>Need to send urgent message and don't want to waste time in
                  opening corresponding softwares? Just put the number and you
                  are good to go.</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up"
                   data-aos-delay="500">
                <i class="bx bx-id-card"></i>
                <h4>Digital Signature</h4>
                <p>Need to sign on an online form? We are again here for you.
                  Just upload your form and sign in there.</p>
              </div>
            </div>
          </div>
        </div>
        <div
                class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2"
                data-aos="fade-left" data-aos-delay="100">
          <img alt="" class="img-fluid"
               src="{% static 'assets/img/features.svg' %}">
        </div>
      </div>

    </div>
  </section><!-- End App Features Section -->

  <!-- ======= Details Section ======= -->
  <section class="details" id="details">
    <div class="container">

      <div class="row content" id="messages">
        <div class="col-md-4" data-aos="fade-right">
          <img alt="" class="img-fluid"
               src="{% static 'assets/img/details-1.png' %}">
        </div>
        <div class="col-md-8 pt-4" data-aos="fade-up">
          <h3>Send Messages to your Loved ones or to your Boss!</h3>
          <p class="font-italic">
            Instant messaging service that keeps you connected.
          </p>
          {% if messages %}
          {% for msg in messages %}
          <div class="alert alert-success alert-dismissible fade show"
               role="alert">
            <b>{{ msg }}</b>
            <button area-label="Close" class="close" data-dismiss="alert"
                    type="button">
              <span area-hidden-true>&times;</span>
            </button>
          </div>
          {% endfor %}
          {% endif %}
          <form action="{% url 'message' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="number">Phone Number</label>
              <input aria-describedby="emailHelp" class="form-control" id="number"
                     name="number" placeholder="Enter Phone Number"
                     type="tel">
            </div>
            <div class="form-group">
              <label for="msg">Messsage</label>
              <input aria-describedby="emailHelp" class="form-control" id="msg"
                     name="msg" placeholder="Enter Phone Number" type="text">
              <small class="form-text text-muted" id="emailHelp">We'll never
                share your information with anyone else.</small>
            </div>

            <div class="text-center">
              <button class="btn btn-outline-info"
                      type="submit">Send Message
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="row content" id="mail">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img alt="" class="img-fluid"
               src="{% static 'assets/img/details-2.png' %}">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Corporis temporibus maiores provident</h3>
          <p class="font-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p>
          <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
            sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum
          </p>
          <p>
            Inventore id enim dolor dicta qui et magni molestiae. Mollitia
            optio officia illum ut cupiditate eos autem. Soluta dolorum
            repellendus repellat amet autem rerum illum in. Quibusdam
            occaecati est nisi esse. Saepe aut dignissimos distinctio id
            enim.
          </p>
        </div>
      </div>

      <div class="row content" id="call">
        <div class="col-md-4" data-aos="fade-right">
          <img alt="" class="img-fluid"
               src="{% static 'assets/img/details-3.png' %}">
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>Sunt consequatur ad ut est nulla consectetur reiciendis animi
            voluptas</h3>
          <p>Cupiditate placeat cupiditate placeat est ipsam culpa. Delectus
            quia minima quod. Sunt saepe odit aut quia voluptatem hic
            voluptas dolor doloremque.</p>
          <ul>
            <li><i class="icofont-check"></i> Ullamco laboris nisi ut
              aliquip ex ea commodo consequat.
            </li>
            <li><i class="icofont-check"></i> Duis aute irure dolor in
              reprehenderit in voluptate velit.
            </li>
            <li><i class="icofont-check"></i> Facilis ut et voluptatem
              aperiam. Autem soluta ad fugiat.
            </li>
          </ul>
          <p>
            Qui consequatur temporibus. Enim et corporis sit sunt harum
            praesentium suscipit ut voluptatem. Et nihil magni debitis
            consequatur est.
          </p>
          <p>
            Suscipit enim et. Ut optio esse quidem quam reiciendis esse odit
            excepturi. Vel dolores rerum soluta explicabo vel fugiat eum
            non.
          </p>
        </div>
      </div>

      <div class="row content" id="urlshortener">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img alt="" class="img-fluid"
               src="{% static 'assets/img/details-4.png' %}">
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Shorten Your URL Now!</h3>
          <p class="font-italic">
            Short your URL and keep records of link clicks.
          </p>

          {% if messages %}
          {% for msg in messages %}
          <div class="alert alert-success alert-dismissible fade show"
               role="alert">
            <b>{{ msg }}</b>
            <button area-label="Close" class="close" data-dismiss="alert"
                    type="button">
              <span area-hidden-true>&times;</span>
            </button>
          </div>
          {% endfor %}
          {% endif %}

          <form action="{% url 'generate' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <input class="form-control" name="original" placeholder="Original Url"
                     type="url">
            </div>
            <div class="form-group">
              <div class="input-group-prepend">
                <div class="input-group-text">http://short.ly/</div>
                <input class="form-control" id="short" maxlength="6"
                       name="short" placeholder="Short Char (6 chars)" type="text">

              </div>
              <p class="form-text text-muted" id="shorthelp">Leave It
                Blank To generate randomly.</p>
            </div>
            <div class="form-group">
              <input class="btn px-4" style="background-color: #47536e; color: white;" type="submit"
                     value="Generate">
            </div>
          </form>

        </div>
      </div>

    </div>
  </section><!-- End Details Section -->

  <!-- ======= Team section ======= -->
  <section class="team section-bg" id="team">
    <div class="section-title">
      <h2 data-aos="fade-in">Team</h2>
      <p data-aos="fade-in">Behind any big inventions, there are several
        hands that make it looks beautiful, feels smooth, works absolutely
        well.</p>
    </div>


  </section><!-- End Team Section -->

  <!-- ======= Pricing Section ======= -->
  <section class="pricing" id="pricing">
    <div class="container">

      <div class="section-title">
        <h2>Pricing</h2>
        <p>Some of our features use third-party APIs to work seamlessly. We need
          to pay for those APIs and so we ask for payment for paid services.
          <br>We doon't charge you anything for using features that are 100% our
          own service and doesn't include any third-party services.
        </p>
      </div>

      <div class="row no-gutters">

        <div class="col-lg-4 box" data-aos="fade-right">
          <h3>Free</h3>
          <h4>Rs.0<span>Pay as you go</span></h4>
          <ul>
            <li><i class="bx bx-check"></i> URL shortening</li>
            <li><i class="bx bx-check"></i> Messaging</li>
            <li><i class="bx bx-check"></i> Video Calling
            </li>
            <li class="na"><i class="bx bx-x"></i> <span>Image
                Compression</span></li>
            <li class="na"><i class="bx bx-x"></i> <span>Digital
                Signature</span></li>
            <li class="na"><i class="bx bx-x"></i> <span>Email Composing</span>
            </li>
          </ul>
          <a class="get-started-btn" href="#">Get Started</a>
        </div>

        <div class="col-lg-4 box featured" data-aos="fade-up">
          <h3>Business</h3>
          <h4>Rs.5<span>Pay as you go</span></h4>
          <ul>
            <li><i class="bx bx-check"></i> URL shortening</li>
            <li><i class="bx bx-check"></i> Messaging</li>
            <li><i class="bx bx-check"></i> Video Calling
            </li>
            <li><i class="bx bx-check"></i> Image Compression</li>
            <li class="na"><i class="bx bx-x"></i> <span>Digital
                Signature</span></li>
            <li class="na"><i class="bx bx-x"></i> <span>Email Composing</span>
            </li>
          </ul>
          <a class="get-started-btn" href="#">Get Started</a>
        </div>

        <div class="col-lg-4 box" data-aos="fade-left">
          <h3>Developer</h3>
          <h4>Rs.10<span>Pay as you go</span></h4>
          <ul>
            <li><i class="bx bx-check"></i> URL shortening</li>
            <li><i class="bx bx-check"></i> Messaging</li>
            <li><i class="bx bx-check"></i> Video Calling</li>
            <li><i class="bx bx-check"></i> Image Compression</li>
            <li><i class="bx bx-check"></i> Digital Signature</li>
            <li><i class="bx bx-check"></i> Email Composing</li>
          </ul>
          <a class="get-started-btn" href="#">Get Started</a>
        </div>

      </div>

    </div>
  </section><!-- End Pricing Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section class="faq section-bg" id="faq">
    <div class="container">

      <div class="section-title">

        <h2>Frequently Asked Questions</h2>
        <p>Some frequently asked questions based on users feedback. If you got
          stuck somewhere, this may help you in someway way. If there is no
          questions that you are looking for, feel free to ask your in contact
          form.</p>
      </div>

      <div class="accordion-list">
        <ul>
          <li data-aos="fade-up">
            <i class="bx bx-help-circle icon-help"></i> <a
                  class="collapse" data-toggle="collapse"
                  href="#accordion-list-1">What are modes of payment? <i
                  class="bx bx-chevron-down icon-show"></i><i
                  class="bx bx-chevron-up icon-close"></i></a>
            <div class="collapse show" data-parent=".accordion-list"
                 id="accordion-list-1">
              <p>
                We accept almost every payment method, UPI, Card, PayPal, Paytm
                etc.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a
                  class="collapsed" data-toggle="collapse"
                  href="#accordion-list-2">What if paid services don't work even after
            paying the amount?
            <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
            <div class="collapse" data-parent=".accordion-list"
                 id="accordion-list-2">
              <p>
                As soon we get confirmation about the payment, our paid services
                will be activated for you. If still you are facing issues we
                recommend you to contact our team. We will definitely look after
                your matter. And if still it doesn't work for you then we will
                return your money back to the same payment method as used during
                the payment.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a
                  class="collapsed" data-toggle="collapse"
                  href="#accordion-list-3">Do you keep our payment data?
            <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
            <div class="collapse" data-parent=".accordion-list"
                 id="accordion-list-3">
              <p>
                We don't keep records of any type until you allow us to do so.
                So, you need not to worry about your data, if it's with
                us, it will be safe.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a
                  class="collapsed" data-toggle="collapse"
                  href="#accordion-list-4">Do I everytime need to to put numbers of person
            whom I want to send messages?<i
                    class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
            <div class="collapse" data-parent=".accordion-list"
                 id="accordion-list-4">
              <p>
                We don't store record of contact numbers without your
                permission. If you want to send messages or call someone by
                selecting their names instead of putting numbers then you must
                have to accept our terms and conditions and provide us the name
                of the person so that we can save it in our database and fetch
                the same for you in future.
              </p>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->

  <!-- ======= Contact Section ======= -->
  <section class="contact" id="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Stuck somewhere using our services? Feel free to contact us. We will
          be happiest to help you out.</p>
      </div>
      {% if messages %}
      {% for msg in messages %}
      <div class="alert alert-success" role="alert">{{ msg }}</div>
      {% endfor %}
      {% endif %}

      <div class="row">

        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-6 info" data-aos="fade-up">
              <i class="bx bx-map"></i>
              <h4>Address</h4>
              <p>Raisen road,<br>Bhopal, Madhya Pradesh 462022</p>
            </div>
            <div class="col-lg-6 info" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-phone"></i>
              <h4>Call Us</h4>
              <p>+91 7909011959<br>+91 7694080528</p>
            </div>
            <div class="col-lg-6 info" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-envelope"></i>
              <h4>Email Us</h4>
              <p>zestrixx@gmail.com<br>info@multiweb.in</p>
            </div>
            <div class="col-lg-6 info" data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-time-five"></i>
              <h4>Working Hours</h4>
              <p>Mon - Fri: 11AM to 6PM<br>Sunday: 12PM to 3PM</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <form action="/contact/" data-aos="fade-up" method="POST" role="form">
            {% csrf_token %}
            <div class="form-group">
              <input class="form-control" data-msg="Please enter at least 4 chars" data-rule="minlen:4"
                     id="name" name="name" placeholder="Your Name"
                     type="text"/>
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <input class="form-control" data-msg="Please enter a valid email" data-rule="email"
                     id="email" name="email" placeholder="Your Email"
                     type="email"/>
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <input class="form-control" data-msg="Please enter at least 8 chars of subject" data-rule="minlen:4"
                     id="subject" name="subject" placeholder="Subject"
                     type="text"/>
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" data-msg="Please write something for us" data-rule="required"
                        name="query" placeholder="Message"
                        rows="5"></textarea>
            </div>
            <div class="text-center">
              <button class="btn btn-outline-success"
                      type="submit">Send
                Message
              </button>
            </div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->
{% endblock %}