<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700;800&display=swap"
      rel="stylesheet">
    <title>multiweb</title>
    <style>
      body {
        font-family: 'Baloo Thambi 2', cursive;
      }

      .nav-item {
        margin: 12px 8px;
        font-size: 14px;
      }

      {% block css %}

      {% endblock %}
    </style>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand ml-4" style="color: #5777ba; font-size:30px;"
          href="/">Multiweb</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end"
          style="margin-left: 90px;" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" style="color: #5777ba;" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #47536e;"
                href="/#urlshortener">Short URL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #47536e;" href="/#messages">Send
                Messages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #47536e;" href="/#mail">Check
                Mail</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #47536e;" href="/#faq">F.A.Q</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #47536e;"
                href="/#contact">Contact Us</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link"
                style="padding: 10px 25px; background-color: #5777ba; color: white; border-radius:50px;"
                href="{% url 'dashboard' %}">
                {{user.username}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #47536e;"
                href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" style="color: #47536e;"
                href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #47536e;"
                href="{% url 'signup' %}">Signup</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <br>

    {% block body %}

    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>

  </body>

</html>